/* Main layout */

a[highlight] {
  font-weight: bold;
  text-decoration: underline;
}

.header {
  padding: 0 var(--lumo-space-m);
}

.header h1.logo {
  font-size: 1em;
  margin: var(--lumo-space-m);
}

/* Group view */

.group-view {

}
/* Student view */
.student-view .content {
  display: flex;
}

.student-view .student-grid {
  flex: 2;
}

.student-view .student-form {
  flex: 1;
  padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
  .student-view.editing .toolbar,
  .student-view.editing .student-grid {
    display: none;
  }
}
